@model MovieApp.Models.Movie
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Редактирование фильма</title>
</head>
<body>
    <h2>Редактирование фильма</h2>

    @using (Html.BeginForm())
    {
        @Html.LabelFor(model => model.Title, "Название фильма")
        <br />
        @Html.EditorFor(model => model.Title)
        <br /><br />
        @Html.LabelFor(model => model.Description, "Описание")
        <br />
        @Html.EditorFor(model => model.Description)
        <br /><br />
        @Html.LabelFor(model => model.Director, "Режисер")
        <br />
        @Html.EditorFor(model => model.Director)
        <br /><br />
        @Html.LabelFor(model => model.Year, "Год выпуска")
        <br />
        @Html.EditorFor(model => model.Year)
        <br /><br />
        <input type="submit" value="Сохранить" />
    }
</body>
</html>
