@model PagedList.IPagedList<MovieApp.Models.Movie>
@using PagedList.Mvc;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Библиотека кинофильмов</title>
    @Styles.Render("~/Content/Site.css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Библиотека фильмов", "Index", "Movie", new { area = "" }, new { @class = "navbar-brand" })
                <button type="button" class="btn btn-success new-movie" onclick="location.href='@Url.Action("Create", "Movie")'">Новый фильм</button>
            </div>
            <div class="navbar-collapse collapse">
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>

    <table class="table" style="margin-top:50px;">
        @if (!Model.Any())
        {
            <tr>
                <td class="poster">
                    <span>Нет данных для отображения</span>
                </td>
            </tr>
        }

        @foreach (var movie in Model)
        {
            <tr>
                <td class="poster">
                    @if (string.IsNullOrEmpty(movie.Poster))
                    {
                        <img src="~/Files/defaultlogo.png" width="80" height="80" />
                    }
                    else
                    {
                        <img src="~/Files/@movie.Poster" width="80" height="80" />
                    }
                </td>
                <td>
                    <a href="~/Movie/Review?id=@movie.Id">@movie.Title</a>
                    (@movie.Year)
                    <br /><span class="movie-director">@movie.Director</span>
                </td>
                <td>
                    @movie.Description
                </td>
                <td>

                @if (ViewBag.UserId == movie.UserId
                    && !string.IsNullOrEmpty(ViewBag.UserId)
                    && !string.IsNullOrEmpty(movie.UserId))
                {
                    <button type="button" class="btn btn-light edit-movie" onclick="location.href='@Url.Action("Edit", "Movie")?id=@movie.Id'">Редактировать</button>
                }
                </td>
            </tr>
        }
    </table>

    <br />
    
    @if (Model.Any())
    {
        <span>Страница @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) из @Model.PageCount</span>
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
    }

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>


