@model IEnumerable<MovieApp.Models.Movie>
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Библиотека кинофильмов</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Библиотека фильмов", "Index", "Movie", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    /////////
    @ViewBag.UserId
    ////////
    <table>
        <tr>
            <td><p>Идентификатор</p></td>
        </tr>
        @foreach (var movie in ViewBag.Movies)
        {
            <tr>
                <td><p>@movie.Id</p></td>
                <td><p>@movie.UserId</p></td>
                <td><p>
                @if (ViewBag.UserId == movie.UserId)
                {
                    <span>Да</span>
                }
                else
                {
                    <span>Нет</span>
                }
                </p></td>
            </tr>
        }
    </table>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>


