@model IEnumerable<MovieApp.Models.Movie>
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Библиотека кинофильмов</title>
    @Styles.Render("~/Content/Site.css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Библиотека фильмов", "Index", "Movie", new { area = "" }, new { @class = "navbar-brand" })
                <button type="button" class="btn btn-success new-movie" onclick="location.href='@Url.Action("Create", "Movie")'">Новый фильм</button>
            </div>
            <div class="navbar-collapse collapse">
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>

    <table class="table">
        @foreach (var movie in ViewBag.Movies)
        {
            <tr>
                <td class="poster">
                    <img src="~/Files/@movie.Poster" width="80" height="80" />
                </td>
                <td>
                    <span class="movie-title">@movie.Title</span>
                    (@movie.Year)
                    <br /><span class="movie-director">@movie.Director</span>
                </td>
                <td>
                    @movie.Description
                </td>
                <td>
                @*if (ViewBag.UserId != movie.UserId)*@
                @{
                    <button type="button" class="btn btn-light edit-movie" onclick="location.href='@Url.Action("Edit", "Movie")?id=@movie.Id'">Редактировать</button>
                }
                </td>
            </tr>
        }
    </table>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>


